

<form method="post" action="/patients/<%= patient.id %>/reports/<%= report.id %>?_method=PUT" >

	<h1>
		Editar Informe

		<input type="submit" value="Salvar">

		<a href="<%= redir %>"><button type="button">Cancelar</button></a>
	</h1>

	<% include _form.ejs %>

</form>



<%  var diagnoses = report.Diagnoses; %>
<%  locals.readwrite = true; %>
<hr />
	<%- include ../diagnoses/index.ejs %>
<hr />