

<form method="post" action="/patients/<%= patient.id %>/reports/<%= report.id %>?_method=PUT" >

	<h1>
		Editar Informe

    	<input type="image" width="24px" src="/images/save.png" border="0" alt="Submit" />

		<a href="/goback"><img width="24px" src="/images/cancel.png"></a>
	</h1>

	<% include _form.ejs %>

</form>



<%  var diagnoses = report.Diagnoses; %>
<%  locals.readwrite = true; %>
<hr />
	<%- include ../diagnoses/index.ejs %>
<hr />