


<form method="post" action="/patients/<%= patient.id %>/reports" >

	<h1>
	  Crear Informe: 

	  	<a href="/patients/<%= patient.id %>"><button type="button">Cancelar</button></a>

		<input type="submit" value="Salvar">
	</h1>

	<% include _form.ejs %>

</form>
