
<h1>
  Crear Informe: 
</h1>

<p>
  <form method="post" action="/patients/<%= patient.id %>/reports" >

	<% include _form.ejs %>

	<a href="/patients/<%= patient.id %>">
		<button type="button">Cancelar</button>
	</a>

	<input type="submit" value="Salvar">

  </form>
</p>
