


<form method="post" action="/patients/<%= patient.id %>/reports" >

	<h1>
	  Crear Informe: 

	  	<a href="/patients/<%= patient.id %>"><img width="24px" src="/images/cancel.svg"></a>

    	<input type="image" width="24px" src="/images/save.svg" border="0" alt="Submit" />
	</h1>

	<% include _form.ejs %>

</form>
