
	<label>Código:</label>
	<input type="text" name="code" value="<%= dtype.code %>" placeholder="Código"  autocomplete="off" autofocus /> <p>

	<label>Título:</label>
	<input type="text" name="title" value="<%= dtype.title %>" placeholder="Título"  autocomplete="off" /> <p>




