
<form method="post" action="/dtypes" >

	<h1>
  		Crear Tipo de Diagnóstico: 

		<a href="/dtypes"><img width="24px" src="/images/cancel.png"></a>

    	<input type="image" width="24px" src="/images/save.png" border="0" alt="Submit" />
	</h1>

	<% include _form.ejs %>

</form>

