
<h1> 
    Diagnóstico: 

    <%= dtype.code %> - <%= dtype.title %> 

    <a href="/dtypes/<%= dtype.id %>/edit">
        <button>editar</button>
    </a> 
</h1>

<%  var dtresults = dtype.DTResults %>

<hr />
<%- include ../dtresults/index.ejs %>
<hr />
