<p>
	<label>Código:</label>
	<input type="text" name="code" value="<%= dtroption.code %>" placeholder="Código" /> 
</p>

<p>
	<label>Título:</label>
	<input type="text" name="title" value="<%= dtroption.title %>" placeholder="Título" />
</p>

<p>
	<label>Descripción:</label>
	<br />
	<textarea type="text" name="description" placeholder="Descripción" rows="10" cols="80"><%= dtroption.description %></textarea>
</p>


<a href="/dtypes"><button type="button">Cancelar</button></a>

<input type="submit" value="Salvar" >
