
<p>
	<label>Código:</label>
	<input type="text" name="code" value="<%= dtroption.code %>" placeholder="Código"  autocomplete="off" autofocus /> 
</p>

<p>
	<label>Título:</label>
	<input type="text" name="title" value="<%= dtroption.title %>" placeholder="Título"  autocomplete="off" />
</p>

<p>
	<label>Descripción:</label>
	<br />
	<textarea type="text" name="description" placeholder="Descripción" rows="10" cols="80"><%= dtroption.description %></textarea>
</p>

