
<p>
Editar Opción de Resultado de Tipo de Diagnóstico
</p>

<p>
  <form method="post" action="/dtypes/<%= dtype.id %>/dtresults/<%= dtresult.id %>/dtroptions/<%= dtroption.id %>?_method=PUT" >
     <% include _form.ejs %>
  </form>
</p>

