
<p>
  Crear Opción de Resultado de Tipo de Diagnóstico: 
</p>

<p>
  <form method="post" action="/dtypes/<%= dtype.id %>/dtresults/<%= dtresult.id %>/dtroptions" >

	<% include _form.ejs %>

  </form>
</p>

