

<form method="post" action="/dtypes/<%= dtype.id %>/dtresults/<%= dtresult.id %>/dtroptions" >

	<h1>
  		Crear Opción

		<a href="/dtypes"><img width="24px" src="/images/cancel.svg"></a>

    	<input type="image" width="24px" src="/images/save.svg" border="0" alt="Submit" />
	</h1>

	<% include _form.ejs %>

</form>

