
<h2> Opción de Resultado de Tipo de Diagnóstico </h2>

       
    <p>
      Código: <%= dtroption.code %>
    </p>

    <p>
      Título: <%= dtroption.title %>
    </p>

    <p>
      Descripción: <%= dtroption.description %>
    </p>
