<!DOCTYPE html>
<html>
  <head>
    <title>Citologías</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
  <section>
  	<div> <%- body %> </div>
  </section>

  </body>
</html>
