<!DOCTYPE html>
<html>
  <head>
    <title>Citologías</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
        <h1><img src="/images/paplogo.png" width="48px"/> Unidad de Citología</h1>
    </header>

    <nav>
        <a href="/patients">Pacientes</a>
        <a href="/reports">Informes</a>
        <a href="/dtypes">Diagnósticos</a>
        <a href="/dtypes/seed?_method=POST">Seed</a>
    </nav>

    <section>
            <% if (messages.info) { %>
               <article id='flashinfo'>
                 <h3>Información de interés:</h3>
                 <ul>
                    <% for (var i in messages.info) { %>
                      <li> <%= messages.info[i] %> </li>
                    <% } %>
                 </ul>
               </article>
            <% } %>

            <% if (messages.success) { %>
               <article id='flashsuccess'>
                 <h3>Tareas completadas con éxito:</h3>
                 <ul>
                    <% for (var i in messages.success) { %>
                       <li> <%= messages.success[i] %> </li>
                    <% } %>
                 </ul>
               </article>
            <% } %>

            <% if (messages.error) { %>
               <article id='flasherror'>
                 <h3>Errores encontrados:</h3>
                 <ul>
                    <% for (var i in messages.error) { %>
                      <li> <%= messages.error[i] %> </li>
                    <% } %>
                 </ul>
               </article>
            <% } %>
    </section>


  <section>
    <div> <%- body %> </div>
  </section>

  </body>
</html>
