


<form method="post" action="/patients/<%= patient.id %>?_method=PUT" >

	<h1>
		Editar Paciente

		<a href="/patients"><button type="button">Cancelar</button></a>

		<input type="submit" value="Salvar">
	</h1>

    <% include _form.ejs %>

</form>
