


<form method="post" action="/patients/<%= patient.id %>?_method=PUT" >

	<h1>
		Editar Paciente

		<a href="/patients"><img width="24px" src="/images/cancel.svg"></a>

    	<input type="image" width="24px" src="/images/save.svg" border="0" alt="Submit" />
	</h1>

    <% include _form.ejs %>

</form>
