


<form method="post" action="/salesmen/<%= salesman.id %>?_method=PUT"  enctype="multipart/form-data" >

	<h1>
		Editar Vendedor

    	<input type="image" class="icon" src="/images/save.png" border="0" alt="Submit" />
		<a href="/goback"><img class="icon" src="/images/cancel.png"></a>
	</h1>

    <% include _form.ejs %>

   	<input type="image" class="icon" src="/images/save.png" border="0" alt="Submit" />
	<a href="/goback"><img class="icon" src="/images/cancel.png"></a>

</form>
