
<h1> 
    Vendedor: 

    <%= salesman.name %>

    <a href="/goback"><img class="icon" src="/images/back.png"></a>

    <a href="/salesmen/<%= salesman.id %>/edit"><img class="icon" src="/images/edit.png"></a> 
</h1>

