
<h1> 
    Vendedor: 

    <a href="/goback"><img class="icon" src="/icons/back.png"></a>

    <a href="/salesmen/<%= salesman.id %>/edit"><img class="icon" src="/icons/edit.png"></a>
</h1>


<div class="right">
    <% if (salesman.Photo) { %>
        <img src="<%= salesman.Photo.url %>" width="200px" />
    <% } else { %>
        <img src="/images/face.png" width="200px" />
    <% } %>
</div>

<ul>
    <li>
        <b>Nombre</b>: <%= salesman.name %>
    </li>
    <li>
        <% var login = salesman.User ? salesman.User.login : "NO ESTA ASOCIASO A NINGÚN LOGIN"; %>

        <b>Login Asociado</b>: <%= login  %>

    </li>


</ul>