<p>
	<label>Código:</label>
	<input type="text" name="code" value="<%= dtresult.code %>" placeholder="Código"  autocomplete="off" autofocus />
</p>

<p>
	<label>Título:</label>
	<input type="text" name="title" value="<%= dtresult.title %>" placeholder="Título"  autocomplete="off" />
</p>

<p>
	<label>Descripción:</label>
	<br />
	<textarea type="text" name="description" placeholder="Descripción" rows="10" cols="80"><%= dtresult.description %></textarea>
</p>


