


<form method="post" action="/dtypes/<%= dtype.id %>/dtresults/<%= dtresult.id %>?_method=PUT" >

	<h1>
		Editar Resultado

		<a href="/dtypes"><img width="24px" src="/images/cancel.png"></a>
    	<input type="image" width="24px" src="/images/save.png" border="0" alt="Submit" />

	</h1>

     <% include _form.ejs %>

</form>
