
<h2> Resultado de Tipo de Diagnóstico </h2>

       
    <p>
      Código: <%= dtresult.code %>
    </p>

    <p>
      Título: <%= dtresult.title %>
    </p>

    <p>
      Descripción: <%= dtresult.description %>
    </p>
