
<form method="post" action="/companies" >

	<h1>
  		Crear Fábrica: 

    	<input type="image" width="24px" src="/images/save.png" border="0" alt="Submit" />
		<a href="/goback"><img width="24px" src="/images/cancel.png"></a>
	</h1>

	<% include _form.ejs %>

   	<input type="image" width="24px" src="/images/save.png" border="0" alt="Submit" />
	<a href="/goback"><img width="24px" src="/images/cancel.png"></a>

</form>

