
<h1> 
    Fábrica: 

    <%= company.name %>

    <a href="/goback"><img class="icon" src="/images/back.png"></a>

    <a href="/companies/<%= company.id %>/edit"><img class="icon" src="/images/edit.png"></a> 
</h1>

