
<form method="post" action="/users" >      


	<h1>
  		Crear Usuario

    	<input type="image" class="icon" src="/icons/save.png" border="0" alt="Submit" onclick="return confirmPassword()" />
		<a href="/goback"><img class="icon" src="/icons/cancel.png"></a>
	</h1>

	<% include _form.ejs %>

</form>
