
<h1>
    Usuario

    <a href="/goback"><img class="icon" src="/icons/back.png"></a>

    <% if (session.user) { %>

        <% if (session.user.isAdmin || session.user.id === user.id) { %>
          <a href="/users/<%= user.id %>/edit"> 
            <img class="icon" src="/icons/edit.png">
          </a>
        <% } %>

    <% } %>

</h1>

<p>
  <b>Username:</b>
  <%= user.username %>
</p>

<p>
  <b>Es Administrador:</b>
  <%= user.isAdmin ? "Si" : "No" %>
</p>
