

<form method="post" action="/reports/<%= report.id %>/diagnoses" >

	<h1>
	    Nuevo Diagnóstico: 

		<a href="/patients/<%= report.Patient.id %>/reports/<%= report.id %>/edit"><img width="24px" src="/images/cancel.png"></a>

    	<input type="image" width="24px" src="/images/save.png" border="0" alt="Submit" />
	</h1>

	<% include _form.ejs %>

</form>

