

<form method="post" action="/reports/<%= report.id %>/diagnoses" >

	<h1>
	    Nuevo Diagnóstico: 

		<a href="/patients/<%= report.Patient.id %>/reports/<%= report.id %>/edit"><button type="button">Cancelar</button></a>

		<input type="submit" value="Salvar" >
	</h1>

	<% include _form.ejs %>

</form>

